<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Łukasz Kubieniec">
    <link rel="stylesheet" href="style.css">
    <title>Transkrypcja Audio</title>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="audio_file" class="custom-file-upload"></label>
        <input type="file" id="audio_file" name="audio_file" accept=".mp3, .wav" style="display:none;"><br><br>
        <label for="audio_file" class="upload-label">Naciśnij aby przesłać plik</label><br><br>
        <input type="submit" value="Transkrybuj">
    </form>
    <div class="footer">
        Created by Łukasz Kubieniec for UR in Krakow ©
    </div>
</body>
</html>
